<mat-card class="deal-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon *ngIf="deal?.type === 'STORE'" aria-label="Example">store</mat-icon>
      <mat-icon *ngIf="deal?.type === 'REQUEST'" aria-label="Example">chat</mat-icon>
      <mat-icon *ngIf="deal?.type === 'RUNNER'" aria-label="Example">directions_run</mat-icon>
    </div>

    <mat-card-title>{{ deal?.type }}</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>

  <img mat-card-image *ngIf="deal?.type === 'STORE'" src="/assets/images/shopping.jpg" alt="Photo of a Shiba Inu" style="min-height: 171px;">
  <img mat-card-image *ngIf="deal?.type === 'REQUEST'" src="/assets/images/panorama.jpg" alt="Photo of a Shiba Inu" style="min-height: 171px;">
  <img mat-card-image *ngIf="deal?.type === 'RUNNER'" src="/assets/images/runner.png" alt="Photo of a Shiba Inu" style="min-height: 171px;">

  <mat-card-content>
    <p>{{ deal.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="edit.emit()">
      <mat-icon aria-label="edit">mode_edit</mat-icon>
      EDIT
    </button>
  </mat-card-actions>
</mat-card>
