<div style="max-width: 900px; margin: auto;">
  <div>
    <div style="width: 100%; padding: 8px;">
      <deals-map [deals]="deals"
                 (dealClicked)="showDealEditor($event)"
                 (clickCoordinate)="position = $event; showDealEditor({});"></deals-map>
    </div>

    <div fxLayout="row" fxLayoutAlign="start" style="margin: 8px 16px;">
      <button mat-raised-button (click)="showDealEditor({})">
        <mat-icon aria-label="Example icon-button with a heart icon">plus_one</mat-icon>
        open dialog
      </button>
    </div>

    <div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="stretch center" fxLayoutAlign.xs="center stretch">
        <deal-card [deal]="deal" *ngFor="let deal of deals" style="margin: 8px;" (edit)="showDealEditor(deal)"></deal-card>
      </div>

      <div fxLayout="row" fxLayoutAlign="start" style="margin: 8px 16px;">
        <button mat-raised-button (click)="showDealEditor({})">
          <mat-icon aria-label="Example icon-button with a heart icon">plus_one</mat-icon>
          add
        </button>
      </div>
    </div>
  </div>
</div>
